<div class = "container text-center">

<h1><%= @cocktail.name %> </h1>

<% if @cocktail.photo? %>
  <%= cl_image_tag @cocktail.photo.path, width: 350, height: 350, crop: :fill, class: 'card-image' %>
<% end %>

<ul>
<% @cocktail.doses.each do |d| %>
<li>
<%= d.description %>
<%= d.ingredient.name %>


</li>




<%= link_to "Delete Ingredient", dose_path(d), method: :delete, class: 'btn btn-danger'%>

<% end %>
</ul>

<div class="container-buttons">
<%= link_to "Add ingredients", new_cocktail_dose_path(@cocktail),class: 'btn btn-danger' %>

<%= link_to "back", cocktails_path, class: 'btn btn-danger' %>

<%= link_to "Delete Cocktail", cocktail_path(@cocktail), method: :delete, class: 'btn btn-danger card-detail' %>
</div>

</div>
