<h1><%= @cocktail.name %> </h1>

<ul>
<% @cocktail.doses.each do |d| %>
<li>
<%= d.description %>
<%= d.ingredient.name %>
</li>

<% if @cocktail.photo? %>
  <%= cl_image_tag @cocktail.photo.path, width: 200, height: 300, crop: :fill %>
<% end %>

<%= link_to "Delete Ingredient", dose_path(d), method: :delete %>

<% end %>
</ul>
<%= link_to "Add ingredients", new_cocktail_dose_path(@cocktail) %> |

<%= link_to "back", cocktails_path %> |

<%= link_to "Delete Cocktail", cocktail_path(@cocktail), method: :delete %>
